apiVersion: apps/v1
kind: Deployment
metadata:
  name: dotapp-service
spec:
  selector:
    matchLabels:
      app: dotapp-service
  replicas: 1
  template:
    metadata:
      labels:
        app: dotapp-service
    spec:
      restartPolicy: Always
      containers:
        - name: dotapp-service
          image: acrgavin.azurecr.io/dotapp
          imagePullPolicy: Always

          ports:
            - containerPort: 80
